body {
    border: 5px solid violet;
    min-height: 500px;
    display: flex;
    gap:50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    display:inherit;
    border: 5px solid violet;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;

}