body {
    border: 5px solid violet;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 


.box {
    display:inherit;
    border: 5px solid violet;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}