body {
    min-height: 800px;
    border: 8px solid rgba(255, 255, 255, 0.533);
    display: flex;
    gap:20px;
    background: black;
    justify-content: center;

}

#id {
    align-self: flex-start;
    margin-right: auto;
    flex-grow: 0;
}

.box {
    flex-grow: 0;
    flex-shrink: 1;
    height:150px;
    width: 150px;
    background-color: rgb(48, 48, 48);
    font-size:24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
